@font-face {
  font-family: 'The Sims Sans SC';
  src: url('/fonts/The_Sims_Sans-Bold-SC.ttf') format('truetype');  /* Убедись, что путь правильный */
  font-weight: normal;
  font-style: normal;
}
.home{
  font-family: "The Sims Sans SC";
}
